@font-face {
    font-family: "Valorant Font";
    src: url("valorantfont.ttf");
}
body,html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.row {
  display: flex;
  margin-left: 0;
}
.center-cropped {
  width: calc(100%);
  height: 100vh;
  object-fit: cover;
}
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Valorant Font";
  color: white;
  font-size: 2vw;
}
.column {
  position: relative;
  text-align: center;
  border:1px solid white;
}
.map {
  position: absolute;
  display: block;  
	margin:auto;
	top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
}
.mapholder {
position: relative;
height: 100vh;
}
.iconcontainer {
  position: absolute;
  display: block;  
  margin:auto;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
}
.icon{
  height: 3vh;
  width: 3vh;
}
.mapBG {
  height: 100vh;
  width: 99vw;
}
#map {
  width: 3vw;
  height: 3vw;
}
.connection {
  color: white;
  border: 1px dashed;
}
#aim, #zoom, #pos {
  width: 512px;
  height: 288px;
}
#result {
  width: 614px;
  height: 345px;
}
#lineup {
  display: grid;
  grid-template-columns: repeat(2, 70vh);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 15px;

}
/* ID's for specific positions */
#ap1 {
  margin-left: -10vw;
  margin-top: -22vh;
  width: 1vw;
  height: 1vw;
  background-color: teal;
  z-index: 10;
}
/* ID's for specific lineups */
#a1 {
  margin-left: -10vw;
  margin-top: -5vh;
}